body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px;
}

/* CONTENEDOR FOTO + BIOGRAFÍA */
.perfil {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}

/* FOTO */
.foto {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

/* TEXTO BIOGRAFÍA */
.biografia {
  max-width: 1300px;
  font-style: italic;     /* letra cursiva */
  font-size: 0.8em;      /* un poco más pequeña */
  line-height: 1.6;       /* mejor lectura */
  text-align: justify;
}

#map{
    height: 500px;
}
